<div class="header-bar">
  <div class="userDetails">Logged in?</div>
  <div class="title-box">
    <h2>{{ title }}</h2>
    <div class="summary">
      <span class="counter"> {{ bucketlists.length }} </span><span>bucketlists, </span>
      <span class="counter">{{ items_count() }} </span><span>bucketlist items</span>
      <br>
      <span>Done Items: {{ done_items_count() }}</span>
    </div>
  </div>
  <div class="new_button_holder">
    <div class="list-buttons">
      <button class="btn btn-lg new-button" (click)="newBucketlist()">New Bucketlist</button>
    </div>
  </div>
</div>
