<div class="header-bar">
  <div class="userDetails">
    <div class="user-info">
      <a class="user-thumbnail">
        <img src="../../assets/images/user-placeholder.png">
      </a>
      <div class="details">
        <span id="name"><a href="">{{ user_info(user) }}</a></span>
        <br>
        <span id="etc">ETC</span>
        <br>
        <span>
          <button class="logout btn-link" [swal]="['Log Out Confirmation', 'Do you really want to log out now?', 'warning']" (confirm)="logout()">Log Out</button>
        </span>
      </div>
    </div>
  </div>
  <div class="title-box">
    <h2 class="text-center">{{ title }}</h2>
  </div>
  <div class="new_button_holder" *ngIf="logged_in">
    <div class="list-buttons">
      <button class="btn btn-lg new-button" (click)="newBucketlist()">New Bucketlist</button>
    </div>
  </div>
</div>
