.header-bar {
  width: 90%;
  margin: 50px auto;
}

.new_button_holder {
  width: 250px;
  height: 90px;
  display: inline-block;
  float: right;
  vertical-align: middle;
}

.userDetails {
  display: inline-block;
  float: left;
  vertical-align: middle;
  width: 250px;
  height: 100px;
}

.title-box {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}

.title-box h2 {
  margin: 0 auto;
}

.new-button {
  margin-top: 5%;
  background: lightgray;
  color: black;
  border: 1px solid green;
}

.new-button:hover {
  border: solid 2px black;
  background-color: green;
  color: white;
}
.counter {
  font-weight: bolder;
}
.summary {
  color: grey;
  font-style: oblique;
}

.user-info {
  height: 95%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.user-thumbnail img {
  width:95px;
  height: auto;
  margin: 5px;
  float: left;
}
.user-thumbnail {
  vertical-align: middle;
}
.details {
  margin: 0 auto;
}

#name a {
  color: darkgreen;
}
.motto {
  margin-top: 15px;
  font-family: Papyrus;
  font-size: 150%;
}
