.input-box {
  text-align: left;
  border: solid 1px darkgrey;
  width: 30%;
  min-width: 400px;
  margin: 0 auto;
  padding: 10px;
}
.i-box {
  padding-left: 1px;
  width: 50%;
}
.lab {
  /*padding-right: 50px;*/
  width: 30%;
  min-width: 100px;
  margin-bottom: 10px;
  margin-left: 30px;
}
.rem {
  margin-top: 15px;
}
#submit-btn {
  align-self: center;
  background-color: #cccccc;
  color: black;
}

#submit-btn:hover {
  background-color: green;
  color: white;
}

.sub-btn {
  margin: 10px;
}

.register-link {
  color: darkgreen;
}
.register-link:hover {
  color: blue;
}

h4 {
  text-align: center;
  margin-bottom: 35px;
}

.form-control{
  display: inline;
}
