<div class="main-panel">
  <div class="input-box">
    <h4> {{ title }}</h4>
    <label for="email" class="lab">Email Address</label>
    <input id="email" type="email" class="i-box" required>
    <br>
    <label for="password" class="lab">Password</label>
    <input id="password" type="password" class="i-box" required>
    <br>
    <label for="confirm-password" class="lab">Confirm Password</label>
    <input id="confirm-password" type="password" class="i-box" required>
    <br>
    <div class="text-center sub-btn">
      <button class="btn-lg" id="submit-btn">Register</button>
    </div>
    <div class="text-center login-link">
      <span>Already have an account?<button class="btn-link">Login</button>here.</span>
    </div>
  </div>
</div>
